@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.Activity {
    width: 50%;
    
    aspect-ratio: 1/1.18;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 15%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
}


.imageActivity {
    width:100%;
    border-radius: 15%;
}

.activityName {
    font-size: 40%;
    text-align: center;
    padding-bottom: 3px;
    font-family:'Permanent Marker', cursive;
    color:#46b3e6;
    overflow-wrap: break-word;
}



.reload {
    position: absolute;
    left: 98%;
    top: 0%;
    transform: translate(-50%,-50%);
    width: 23%;
}

.popOut {
    width: 140%;
    font-size: 240%;
    margin-top: -50%;
    transition-property: width, margin, font-size;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1.2s;
}

@media screen and (min-width: 640px) and (min-height: 800px) {
    .activityName {
        font-size: 80%;
    }
}
