@media (min-width: 800px)  {
    .addActivity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
}


.fond{
    position:absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;

}

.goBack {
    position: absolute;
    left:5px;
    top: 5px;
    width: 50px;
}