@media (min-width: 800px)  {
    .addActivity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
}
.goBack {
    position: absolute;
    left:5px;
    top: 5px;
    width: 50px;
}