.FormDiv {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:250px;
}
.form-group {
    margin: 10px;
}

.submit {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.inscriptionClick{
    text-decoration: underline;
    cursor: pointer;
}
