
.plus, .previewImg{
    border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 30px;
	position: relative;
    font-size: 55px;
    object-fit: cover;
}

.plus::after{
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0.2em;
    width: 1em;
}
.plus::before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1em;
    width: 0.2em;
}
.formActivity {
    position: relative;
    top: 50%;
    left: 50%;
    height: 37%;
    min-height: 250px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.input {
    border: 2px solid rgb(180, 180, 180);
    border-radius: 8px;
    text-align:center;
    height: 28px;
    width: 100%;
    user-select: text;
}
.inputField {
    width: 50%;
    position: relative;
}

.envoi {
    width: 25px;
    margin-top: 1px;
    position: absolute;
    right: -35px;
}

.envoi:active {
    filter: brightness(80%);
}

@media (min-width: 800px)  {
    .formActivity {
        max-width: 650px;
        width: 60%;
        height: 260px;
    position: static;
    transform: none;
    
    }
}