ul {
    list-style-type: none;
    
}



@media (min-width:320px)  { 

    .listActivity {

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 95vh;
        transition: top;
        transition-duration: 0.75s;
        transition-timing-function:ease;
        background-color: white;
    }

    .showHide{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5vh;
        transition: transform;
        transition-duration: 0.75s;
        
    }

    .turn {
        transform: rotate(180deg);
    }


    .show{
        top:0;
    }

    .showHide:first-child {
        color: #0d6efd;
        
    }
    .allItems {
        padding: 0;
        width: 80%;
    }
}

@media (min-width: 800px) {
    .showHide{
        display: none;
    }

    .listActivity{
        width: 30%;
        position:relative;
        top: 0;
        height: 80%;
        border: Solid gray 1px ;
    }
    .allItems {
        padding: 0;
        width: 90%;
        margin-top: 5%;
    }
        
}