ul {
    list-style-type: none;
    
}



@media (min-width:320px)  { 

    .listActivity {

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        transition: top;
        transition-duration: 0.75s;
        transition-timing-function:ease;
        background-color: white;
        background-color: transparent;
        overflow-y : scroll;
        overflow-x: hidden;
    }
    .showHide{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5.1%;
        position: absolute;
        top: 95%;
        transition: transform, top, background-color;
        transition-duration: 0.75s,0.75s,0s;
        transition-delay: 0s,0s,0s;
        background-color: transparent;
        
    }

    .turn {
        transform: rotate(180deg);
        top: 0;
        background-color: white;
        transition: transform, top, background-color;
        transition-duration: 0.75s,0.75s,0s;
        transition-delay: 0s,0s,0.75s;
    }


    .show{
        top:5%;
        background-color: white;
    }

    .showHide:first-child {
        color: #0d6efd;
        
        
    }
    .allItems {
        background-color: white;
        padding: 0;
        width: 80%;
    }
}

@media (min-width: 800px) {
    .showHide{
        display: none;
        background-color: transparent;
    }

    .listActivity{
        width: 30%;
        position:relative;
        background-color: rgba(255, 255, 255,0.5);
        top: 0;
        height: 80%;
        border-radius: 10px;
    }
    .allItems {
        padding: 0;
        width: 90%;
        margin-top: 5%;
    }
        
}