*{
    --mainColor: 242, 197, 124;
    --secondaryColor: 221, 174, 126;
    --thirdColor: 127, 182, 133;
    --red: 239, 111, 108;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.blur {
    background: rgba( 255, 255, 255, 0.2 );

backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );

}
html {
    height: -webkit-fill-available;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
